body{



}




.Logo {
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  
    
}

.Logo:hover{

box-shadow: 5px 3px 7px rgb(2, 30, 41);
transition: 0.5s;


}

.Logo2{
    width: 500px;
   cursor: pointer;
   display: block;
    margin-left: auto;
    margin-right: auto;
   

}

.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(248, 178, 112);
    border-radius: 10px;
  }

  .cabecalho{
    background-color: #002d40; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
    font-family: arial black ;
    border-radius: 10px;
  
  }

.cabecalho:hover {

  box-shadow: 5px 5px 10px rgb(236, 133, 59);
transition: 0.5s;
color: #f5876c;

}

.conteudo {

  display: flex;
  align-items:center;
  justify-content: space-evenly

}

.local {

  background-color: #002d40; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
    font-family: arial black;
    border-radius: 10px;
}

.local:hover {

  box-shadow: 5px 5px 10px rgb(15, 15, 15);
  transition: 0.5s;
  color: #f5876c;

}


.conclusao {

    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
    font-family: arial black;
    border-radius: 10px;

}

.conclusao{

  display: flex;
  align-items:center;
  justify-content: space-around

}

.a{

    background-color: #002d40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
    font-family: arial black;
    border-radius: 10px;

}

.a:hover{

  box-shadow: 5px 5px 10px rgb(15, 15, 15);
  transition: 0.5s;
  color: #f5876c;


}

.titulo{

  background-color: #002d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  font-family: arial black;
  border-radius: 10px;
  
}


.titulo2{

  background-color: #002d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 4px 2px; 
  transition-duration: 0.4s;
  font-family: arial black;
  border-radius: 10px;
  
}

input[type="date"]{
  
  background-color: #002d40;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  margin: 4px 2px; 
  transition-duration: 0.4s;
  font-family: arial black;
  border-radius: 10px;

}

input[type="date"]:hover{

  box-shadow: 5px 5px 10px rgb(15, 15, 15);
  transition: 0.5s;
  color: #f5876c;


}
